.Header {
  padding: 48px 0 20px 0;
  margin: 0 auto;
  text-align: center;
}

.Header h1 {
  color: #0C2340;
  font-weight: 800;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 16px;
}

.logo {
  width: 198px;
  height: 64px;
  display: block;
  margin: 0 auto;
}

.logo path {
  fill: #fb534a;
}

@media (max-width: 768px) {
  .Header {
    padding: 30px 0 15px 0;
  }

  .Header h1 {
    font-size: 1.5rem;
  }

  .logo {
    width: 150px;
    height: 48px;
  }
}

@media (max-width: 480px) {
  .Header {
    padding: 24px 0 12px 0;
  }

  .Header h1 {
    font-size: 1.25rem;
  }

  .logo {
    width: 120px;
    height: 38px;
  }
}
